nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    position: -webkit-sticky;
    position: sticky;
    transition: background-color 0.5s ease;
    top: 0;
}
.active{
    border-top: 1px solid #9ca3af;
    color: #111827;
}
nav ul{
    display: flex;
}
.logo-holder, .myCart{
    margin: 1rem
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: inline;
    text-decoration: none;
    color: #4b5563;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-size: 14px;
}
nav ul li a:not(.active):hover{
    background-color: #e5e7eb;
}
nav .menu{
    display: none;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;
    margin-right: 7%;
}
nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #393A3E;
    border-radius: 0.2rem;
}
.nav-item svg {
    margin-right: 7px;
    font-size: 18px;
    vertical-align: middle;
}
.myCart svg{
    font-size: 30px;
}
.myCart p{
    font-size: 14px;
    font-weight: 500;
    color: #f97316;
    position: relative;
    top: -40px;
    right: 80%;
    height: 25px;
    width: 25px;
    border: 1px solid #393A3E;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
}
.dropdown-content{
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 10px 0;
    box-shadow: 0 5px 20px rgba(60, 60, 70, 0.1);
}
.dropdown-content button{
    margin-top: 10px;
    padding: 4px 10px;
    width: 80%;
    border: none;
}
.dropdown-content .nav-item{
    align-items: left;
    justify-content: left;
    text-align: left;
    display: block;
    margin: 10px 10px;
}
.user-sets{
    margin-left: 30px;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    nav .menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open{
        display: flex;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: 0.2rem 0.5rem;
    }
}
