@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.5s ease-in-out;
}
/* Search styles */
.tisea{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 0;
  margin-bottom: 30px;
}
.search-box{
  width: 50%;
  background: #fff;
  border-radius: 5px;
  margin-right: 3%;
  box-shadow: 0 5px 20px rgba(60, 60, 70, 0.1);
}
.row{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
input{
  flex: 1;
  height: 30px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 14px;
  color: #393A3E;
}
input:focus{
  outline-color: #f3f4f6;
}
.search-box button{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 30px;
  background-color: #374151;
  color: #fff;
  border-radius: 20px;
  border: 0;
  outline: 0;
  line-height: 10px;
  cursor: pointer;
}
placeholder{
  color: #393a3e9c;
}
.result-box{
  border-top: 1px solid #393a3e2c;
  max-height: 200px;
  overflow-y: scroll;
}
.result-box::-webkit-scrollbar {
  display: none;
}
.result-box ul{ 
  text-align: left;
  padding: 15px 10px;
}
.result-box ul li{
  list-style: none;
  padding: 15px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.result-box ul li:hover{
  background-color: #f0f0ffb1;
}
/* Search styles end */


/* Sidebar Styles */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  height: 100vh;
  background-color: #ffffff;
  border-left: 1px solid #d1d5db;
  color: #374151;
  padding: 20px;
}
.sidebar h2{
  color: #111;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
.sidebar li {
  padding: 10px 0;
}
.sidebar ul li {
  background-color: #fff;
  margin: 5px;
  padding: 8px 20px;
  box-shadow: 0 5px 15px rgba(50, 50, 50, 0.2);
}
.sidebar button{
  background-color: transparent;
  border: none;
  font-size: 16px;
  outline: none;
}
.sidebar ul li:hover{
  transform: scale(1.3);
}
.sidebar ul li.active{
  transform: scale(1.3);
}
.sideBtn{
  position: absolute;
  top: 30%;
  padding: 30px 15px 30px 5px;
  border: none;
  display: none;
  font-size: 18px;
  background-color: #fff;
  border-left: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  border-radius: 5px;
  margin-left: -26%;
}
@media (max-width: 768px) {
  .sidebar.closed {
    top: 10%;
    height: auto;
    transform: translateX(100%);
}
.sidebar.open {
  top: 10%;
  height: auto;
  z-index: 999999;
  transform: translateX(0);
}
  .sideBtn{
    z-index: 999999;
    display: block;
  }
}
/* Sidebar Styles end*/

/* Download styles */
.downloadr {
  display: flex;
  justify-content: space-between;
  margin: 60px;
}
.downloadr h2{
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 5%;
}
.downloadr p{
  width: 80%;
  text-align: left;
  margin-bottom: 10%;
}
.store-group{
  width: 100%;
  display: grid;
  color: #eee;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 20px
}
.play, .apple {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #374151;
  color: #fff;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.play{
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.column img{
  width: 80%;
  margin-top: -8%;
}

/* Download styles end */

/* CArt Modal styles */

/* CArt Modal styles end*/



@media screen and (max-width: 768px) {
  .downloadr{
    display: block;
    margin: 10%;
  }
  .downloadr h2{
    font-size: 20px;
  }
  .downloadr p{
    width: 100%;
    text-align: left;
    margin-bottom: 10%;
  }
  .tisea{
    display: block;
  }
  .search-box{
    width: 100%;
  }
  .title{
    margin-bottom: 15px;
  }
}